@using ToDoListMVCApp.ViewModels

@model UpdateTaskVM

@{
    ViewBag.Title = "Update Task";
}

<h2 align="center">Update Task</h2>
<div>
    @using (Html.BeginForm())
    {
        @Html.HiddenFor(x => x.Tasks.ID);
        <div class="form-group">
            <label for="TaskName">Task Name</label>
            @Html.TextBoxFor(x => x.Tasks.TaskName, new { @class = "form-control" })
        </div>
        <div class="form-group">
            <label for="Status">Select Status</label>
            @Html.DropDownListFor(x => x.Tasks.Status, new SelectList(Enum.GetValues(typeof(Status))), "-- Select Status --", new { @class = "form-control" })
        </div>
        <div align="center">
            <button type="submit" class="btn btn-outline-primary">Update Task</button>
        </div>
    }
</div>


