<div class="container" style="margin-top: 120px;">
    <div>
        <h1 class="mat-h1" align="center">Contact List</h1>
    </div>
    <div class="row row-cols-2">
        <form class="form-inline col">
            <div class="form-group" style="margin-bottom: 15px;">
                <span style="margin-right: 80px;">Filter By:</span> <input type="text" name="searchText"
                    class="form-control" placeholder="Search by name" [(ngModel)]="searchText" />
            </div>
        </form>
        <div class="col" align="right">
            <button class="btn btn-primary mb-4" (click)="addContact()">Add Contact</button>
        </div>
    </div>
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Mobile Number</th>
                <th scope="col">Address</th>
                <th scope="col">Edit</th>
                <th scope="col">Delete</th>
            </tr>
        </thead>
        <tbody *ngFor="let contact of contacts | searchContact:searchText">
            <tr>
                <td>{{contact.name}}</td>
                <td>{{contact.mobileNumber}}</td>
                <td><button class="btn btn-info" (click)="addressList(contact)">Address</button></td>
                <td><button class="btn btn-success" (click)="updateContact(contact)">Edit</button></td>
                <td><button class="btn btn-danger" (click)="deleteContact(contact)">Delete</button></td>
            </tr>
        </tbody>
    </table>
</div>