<form [formGroup]="loginForm" novalidate>
    USERNAME : <input type="text" formControlName="username" required>
    <div style="color: red;" *ngIf="username.invalid && (username.dirty || username.touched)"><p>Username is requied</p></div><br><br>
    PASSWORD : <input type="text" formControlName="password" required>
    <div style="color: red;" *ngIf="password.invalid && (password.dirty || password.touched)"><p>Password is requied</p></div><br><br>
    <button type="submit" (click)="login()">Submit</button>
</form>
