<div class="container mt-5" align="center">
    <div class="card bg-light mb-3" style="max-width: 35rem;">
        <div class="card-body">
            <h1 class="mat-h1">Update Address</h1>
            <form #form="ngForm" (submit)="onSubmit()">
                <label for="exampleFormControlInput1">Address</label>
                <input type="text" class="form-control" #city="ngModel" [(ngModel)]="address.city" name="city"
                    placeholder="Enter address" required>
                <div style="margin-top: 10px;" class="alert alert-danger" *ngIf="city.touched && !city.valid">
                    Please enter city.
                </div>
                <div class="mt-3">
                    <button class="btn btn-primary" type="submit">Update Address</button>
                </div>
            </form>
        </div>
        <div align="left" style="padding-left: 20px;"><button class="btn btn-dark mb-4" (click)="backToList()">Back to
                List</button></div>
    </div>
</div>