<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="home">Acme Product System</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li [routerLinkActive]="['active']">
          <a class="nav-link"  routerLink="home">Home</a>
        </li>
        <li [routerLinkActive]="['active']">
          <a class="nav-link" routerLink="product-list">Product List</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>