<div class="container">
    <div class="panel panel-primary" style="margin-top: 20px;">
        <div class="panel-heading" style="font-size: larger;">Product Details : {{product.productName}}</div>
        <div class="panel-body">
            <table style="width: 70%;">
                <tr>
                    <td>
                        <table>
                            <tr>
                                <td>Name :</td>
                                <td>{{product.productName}}</td>
                            </tr>
                            <tr>
                                <td>Code :</td>
                                <td>{{product.productCode}}</td>
                            </tr>
                            <tr>
                                <td>Description :</td>
                                <td>{{product.description}}</td>
                            </tr>
                            <tr>
                                <td>Availibility :</td>
                                <td>{{product.releaseDate}}</td>
                            </tr>
                            <tr>
                                <td>Price :</td>
                                <td>{{product.price}}</td>
                            </tr>
                            <tr>
                                <td>5 Star Rating :</td>
                                <td>
                                    <app-star [ratingValue]="product.starRating"></app-star>
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td align="center">
                        <img [src]="product.imageUrl" width="200px" height="200px" />
                    </td>
                </tr>
            </table>
        </div>
        <div class="panel-footer">
            <button type="button" class="btn btn-default" (click)="back()"><span class="glyphicon glyphicon-menu-left"></span>
                Back</button>
        </div>
    </div>
</div>