@model SeesionApp.ViewModels.SessionStateModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <h2>Count is @Model.Counter</h2><br /><br />
        <h2>Session ID is @ViewBag.sessionID </h2>
    </div>
</body>
</html>
