
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>FetchDeptNoFromDropdown</title>
</head>
<body>
    <div>
        @*<form>
            select department:
            <select name="deptno">
                <option value="1">IT</option>
                <option value="2">HR</option>
                <option value="3">Marketing</option>
                <option value="4">Sales</option>
            </select>
            <button type="submit">Submit</button>
        </form>
        <h1>Collecting information from department no @ViewBag.deptno</h1>*@

    
        <h1>Collecting information from department no @ViewData["Department"]</h1>
    </div>
</body>
</html>
