
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Hello</title>
</head>
<body>
    <div> 
        <p> Hello this is my first mvc project
            </p>
    </div>
</body>
</html>
