
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TwoTextBox</title>
</head>
<body>
    <div>
        <form>
            ID : <input type="text" name="id" /><br /><br />
            Username : <input type="text" name="username" /><br /><br />
            <button type="submit">Submit</button>
        </form>
        <h1>@ViewBag.id</h1>
        <h1>@ViewBag.username</h1>
    </div>
</body>
</html>
