
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>WelcomeURL</title>
</head>
<body>
     <h1>Hello @ViewBag.msg </h1>
</body>
</html>
